.not-found {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 830px) {
  .not-found {
    height: 1024px;
  }
}

@media screen and (max-width: 520px) {
  .not-found {
    height: 780px;
  }
}

.not-found__404 {
  margin: 246px auto 5px;
  font-size: 140px;
  line-height: 169px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .not-found__404 {
    margin-top: 408px;
  }
}

@media screen and (max-width: 520px) {
  .not-found__404 {
    margin-top: 329px;
    margin-bottom: 10px;
    font-size: 80px;
    line-height: 97px;
  }
}

.not-found__text {
  margin: 0 auto;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 520px) {
  .not-found__text {
    font-size: 12px;
    line-height: 15px;
  }
}

.not-found__back-link {
  margin: 184px auto 60px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #4285f4;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  transition: 0.3s opacity;
}

.not-found__back-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .not-found__back-link {
    margin-top: 284px;
    margin-bottom: 30px;
  }
}
