.InputInAuth__label {
  margin: 0 0 10px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #8b8b8b;
}

.InputInAuth__input {
  width: calc(100% - 30px);
  height: 46px;
  margin: 0;
  padding: 0 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #2f2f2f;
  font-family: inherit;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.InputInAuth__input_type_error {
  color: #ee3465;
}

.InputInAuth__auth-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #8b8b8b;
  margin: 16px auto 70px;
}

.InputInAuth__input-error {
  padding-top: 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #ee3465;
  display: block;
  min-height: 10px;
}
