.AuthNav {
  display: flex;
}

.AuthNav__signup-link {
  text-align: center;
  margin: auto 0 auto auto;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s opacity;
}

.AuthNav__signup-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 520px) {
  .AuthNav__signup-link {
    font-size: 10px;
  }
}

.AuthNav__signin-button {
  width: 76px;
  height: 32px;
  margin-left: 30px;
  border-radius: 3px;
  background-color: #3ddc84;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s opacity;
}

.AuthNav__signin-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .AuthNav__signin-button {
    width: 54px;
    height: 26px;
    margin-left: 14px;
    font-size: 10px;
  }
}
