.BurgerMenu {
  display: none;
  width: 44px;
  height: 44px;
  z-index: 200;
  transition: 0.3s opacity;
}

@media screen and (max-width: 830px) {
  .BurgerMenu {
    display: block;
  }
}

.BurgerMenu:hover {
  opacity: 0.7;
}

.BurgerMenu__open {
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  background-image: url('../../images/burger-open.svg');
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 44px 44px;
  cursor: pointer;
}

@media screen and (max-width: 830px) {
  .BurgerMenu__open {
    background-size: 40px 43px;
  }
}

.BurgerMenu__close {
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  background-image: url('../../images/burger-close.svg');
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  cursor: pointer;
}
