.Techs {
  box-sizing: border-box;
  background-color: #272727;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
  min-height: 625px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .Techs {
    padding: 0 50px;
    min-height: 567px;
  }
}

.Techs__title {
  width: 50%;
  min-height: auto;
  margin: 100px 0 0 0;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .Techs__title {
    margin-top: 90px;
  }
}

.Techs__line {
  width: 100%;
  height: 1px;
  margin: 23px 0 90px;
  background-color: #dadada;
}

@media screen and (max-width: 830px) {
  .Techs__line {
    margin-bottom: 80px;
  }
}

.Techs__subtitle {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  color: #fff;
  margin: 0 auto 26px;
}

@media screen and (max-width: 830px) {
  .Techs__subtitle {
    margin-bottom: 22px;
  }
}

.Techs__text {
  max-width: 460px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

@media screen and (max-width: 830px) {
  .Techs__text {
    font-size: 12px;
    line-height: 18px;
  }
}

.Techs__icons {
  width: 100%;
  max-width: 689px;
  margin: 100px auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  list-style-type: none;
}

@media screen and (max-width: 830px) {
  .Techs__icons {
    margin-top: 83px;
    padding: 0 10px;
    max-width: 648px;
  }
}

.Techs__icon {
  width: 100%;
  height: 60px;
  background-color: #303030;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .Techs__icon {
    width: 100%;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}
