.HeaderOnlyLogo {
  box-sizing: border-box;
  background-color: #202020;
  margin: 70px auto 40px;
  width: 396px;
  height: 38px;
}

@media screen and (max-width: 830px) {
  .HeaderOnlyLogo {
    margin-top: 232px;
  }
}

@media screen and (max-width: 520px) {
  .HeaderOnlyLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 56px;
    margin-bottom: 50px;
  }
}
