.AboutMe {
  box-sizing: border-box;
  background-color: #202020;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
  min-height: 568px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .AboutMe {
    padding: 0 50px;
    min-height: 524px;
  }
}

.AboutMe__wrap {
  display: flex;
  justify-content: space-between;
}

.AboutMe__column {
  max-width: 600px;
  margin: 0;
}

@media screen and (max-width: 830px) {
  .AboutMe__column {
    max-width: 364px;
    margin-right: 49px;
  }
}

.AboutMe__title {
  width: 50%;
  min-height: auto;
  margin: 114px 0 0 0;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .AboutMe__title {
    margin-top: 90px;
  }
}

.AboutMe__line {
  width: 100%;
  height: 1px;
  margin: 23px 0 66px;
  background-color: #dadada;
}

.AboutMe__name {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 18px;
}

@media screen and (max-width: 830px) {
  .AboutMe__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

.AboutMe__short-description {
  max-width: 600px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .AboutMe__short-description {
    font-size: 12px;
    line-height: 18px;
  }
}

.AboutMe__description {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  margin: 26px 0 99px;
}

@media screen and (max-width: 830px) {
  .AboutMe__description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 87px;
  }
}

.AboutMe__github-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff;
}

.AboutMe__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 830px) {
  .AboutMe__photo {
    width: 255px;
    height: 307px;
  }
}
