.aboutMe {
  box-sizing: border-box;
  background-color: #202020;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
  min-height: 568px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .aboutMe {
    padding: 0 50px;
    min-height: 524px;
  }
}

@media screen and (max-width: 680px) {
  .aboutMe {
    padding: 0 30px;
  }
}

@media screen and (max-width: 520px) {
  .aboutMe {
    padding: 0 14px;
    min-height: 834px;
  }
}

.aboutMe__wrap {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .aboutMe__wrap {
    flex-direction: column-reverse;
  }
}

.aboutMe__column {
  width: 100%;
  max-width: 600px;
  margin: 0 49px 0 0;
}

.aboutMe__title {
  width: 50%;
  min-height: auto;
  margin: 114px 0 0 0;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 830px) {
  .aboutMe__title {
    margin-top: 90px;
  }
}

@media screen and (max-width: 520px) {
  .aboutMe__title {
    margin-top: 70px;
    font-size: 18px;
    line-height: 22px;
  }
}

.aboutMe__line {
  width: 100%;
  height: 1px;
  margin: 23px 0 66px;
  background-color: #dadada;
}

@media screen and (max-width: 520px) {
  .aboutMe__line {
    margin-top: 28px;
    margin-bottom: 60px;
  }
}

.aboutMe__name {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 18px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 830px) {
  .aboutMe__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 640px) {
  .aboutMe__name {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }
}

.aboutMe__short-description {
  max-width: 600px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .aboutMe__short-description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 520px) {
  .aboutMe__short-description {
    font-size: 11px;
    line-height: 16px;
  }
}

.aboutMe__description {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  margin: 26px 0 99px;
}

@media screen and (max-width: 830px) {
  .aboutMe__description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 87px;
  }
}

@media screen and (max-width: 640px) {
  .aboutMe__description {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 520px) {
  .aboutMe__description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }
}

.aboutMe__github-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s opacity;
}

.aboutMe__github-link:hover {
  opacity: 0.7;
}

.aboutMe__photo {
  width: 270px;
  min-width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 830px) {
  .aboutMe__photo {
    width: 255px;
    min-width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 520px) {
  .aboutMe__photo {
    width: 100%;
    height: 100%;
    min-height: 352px;
  }
}
